*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.box{
    background-color: blueviolet;
    text-align: center;
    padding: 40px;
}
input{
    width: 60%;
    display: block;
    margin: 0 auto;
    border: none;
    height: 35px;
    border-radius: 5px;
    text-align: center;
}
#submit{
    width: 30%;
    color: blueviolet;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

h2{
    color: white;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 50px;
}
#parent{
    margin-top: 4%;
    border-radius: 10px;
}
#parent p{
    color: white;
    text-transform: capitalize;
    background-color: red;
    width: 60%;
    padding-top: 6px ;
    height: fit-content;
    padding:3px 10px ;
    padding-bottom: 0%;
    margin: 0 auto;
    margin-bottom: 3px;
    text-align: center;
    display: grid;
    grid-template-areas: 
    'a a '
    'c b'
    ;
}
#cancel{
    font-weight: 500;
    color: aqua;
    cursor: pointer;
    text-align: right;
    grid-area: b; 
}

#date{
    font-size: 0.7em;
    color: aquamarine;
    grid-area: c;
    text-align: left;
}
#event{
    grid-area: a;
    background-color: red;
    
}
#input{
    grid-area: a;
}

.footer{
    position: absolute;
    bottom: 0%;
    color: white;
    text-align: center;
    width: 100%;
}
@media screen and (max-width:700px ) {
    input{
        width: 90%;
    }
    #submit{
        width: 45%;
    }
    #parent p{
        width: 90%;
    }
    
}